            body {
                margin: 0;
                font-family: 'Poppins', sans-serif;
                line-height: 1.6;
                background-color: #f9f9f9;
                color: #333;
            }

            /* .title {
                font-family: 'CASTELLAR', serif;
                padding: 10px 20px;
                color: orangered;
        }
*/

            header {
                background-color: #080301;
                color: white;
                padding: 10px 20px;
                text-align: center;
                font-family: Garamond, serf;
            }

            header h1 {
                font-family: CASTELLAR, serif;
                color: rgb(219, 191, 180);
                margin: 0;
                font-size: 2rem;
                padding: 10px 20px;
            }


            main {
                max-width: 1200px;
                margin: 20px auto;
                padding: 20px;
                background: white;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                width: 80%;
                padding: 20px;
                overflow-y: auto;
            }

            figure {
                margin: 0 0 20px 0;
                text-align: center;
            }

            figure img {
                border-radius: 50%;
                color: orangered;
                position: relative;
                width: 550px;
                box-shadow: 0 0 25px orangered,
                    0 0 50px orangered;
                border-radius: 50%;
            }

            h2 {
                font-size: 1.5rem;
                color: orangered;
                margin-bottom: 10px;
            }

            p {
                margin: 10px 0;
            }
            
            p img {
                border-radius: 50%;
                color: orangered;
                position: relative;
                width: 550px;
                box-shadow: 0 0 25px orangered,
                    0 0 50px orangered;
                border-radius: 50%;
            }

            p:last-child {
                font-weight: bold;
            }

            .button {
                padding: 10px 28px;
                background-color: white;
                color: black;
                border: 2px solid transparent;
                border-radius: 8px;
                font-size: 16px;
                letter-spacing: 1px;
                font-weight: 600;
                transition: 0.3s ease;
            }

            .button:not([disabled]):hover {
                background-color: orangered;
                box-shadow: 0 0 25px orangered;
                color: white;
            }

            .button-2 {
                padding: 10px 18px;
                background-color: orangered;
                color: white;
                border: 2px solid black;
                border-radius: 8px;
                font-size: 18px;
                letter-spacing: 1px;
                font-weight: 600;
                transition: 0.3s ease;
                cursor: pointer;
            }

            .button-2:hover {
                background-color: white;
                color: orangered;
            }

            .radio:hover,
            .radio.active {
                color: orangered;
                border-bottom: 3px solid orangered;
            }

            .label {
                font-size: 20px;
                color: rgb(206, 180, 171);
                margin-bottom: 10px;
            }

            .search input[type=text] {
                float: center;
                padding: 6px;
                border: none;
                margin-top: 8px;
                margin-right: 16px;
                font-size: 17px;
            }
            .checkoutform input[type=text] {
                border: 2px solid black;
                border-radius: 4px;
              }

            .div-cart {
                position:relative;
            }